.tabs {
  @apply inline-block;
  [role='tablist'] {
    @apply flex;
    [role='tab'] {
      @apply m-0;
      &:disabled {
        @apply border-none opacity-30;
      }
    }
  }
  &.tabs-left {
    text-align: left;
    [role='tablist'] {
      @apply justify-start;
    }
  }
}
.tabs-button {
  [role='tablist'] {
    button {
      @apply px-4 py-1 mb-1;
      @apply border rounded;
    }
  }
  [role='menu'] {
    @apply flex flex-col;
    @apply p-2;
    @apply border rounded;
  }
  [role='menuitem'] {
    @apply px-2;
    @apply rounded;
  }
}
.tabs-line {
  [role='tablist'] {
    gap: 8px;
    justify-content: space-around;
    button {
      padding: 4px;
      margin-bottom: 4px;
    }
    [aria-selected='true'] {
      @apply text-primary border-b-2 border-primary;
    }
    [aria-selected='false'] {
      @apply border-b-2 border-transparent;
      @apply text-primary/20 dark:text-primary-lighter;
    }
  }
  [type='button'] {
    /* @apply ui-selected:text-primary; */
  }
  &.tabs-lg {
    [role='tablist'] {
      button {
        @apply w-1/2 max-w-[240px] p-2 m-0 font-extrabold;
      }
      [aria-selected='true'] {
      }
      [aria-selected='false'] {
      }
    }
  }
  &.tabs-base {
    [role='tablist'] {
      button {
        @apply w-auto max-w-none font-bold py-[6px] px-0;
      }
    }
  }
}
