.tabs {
  @apply inline-block;
  [role="tablist"] {
    @apply flex;
  }
}
.tabs-button {
  [role="tablist"] {
    button {
      @apply px-4 py-1 mb-1;
      @apply border rounded;
    }
  }
  [role="menu"] {
    @apply flex flex-col;
    @apply p-2;
    @apply border rounded;
  }
  [role="menuitem"] {
    @apply px-2;
    @apply rounded;
  }
}
.tabs-line {
  [role="tablist"] {
    gap: 8px;
    justify-content: space-around;
    button {
      padding: 4px;
      margin-bottom: 4px;
    }
    [aria-selected="true"] {
      @apply text-black border-b-2 border-black;
    }
    [aria-selected="false"] {
      @apply text-black/20 border-b-2 border-transparent;
    }
  }
  [type="button"] {
    /* @apply ui-selected:text-active; */
  }
  &.tabs-lg {
    [role="tablist"] {
      button {
        width: 50%;
        max-width: 240px;
        padding: 10px;
        font-weight: 700;
      }
      [aria-selected="true"] {
      }
      [aria-selected="false"] {
      }
    }
  }
  &.tabs-base {
    [role="tablist"] {
      button {
        width: auto;
        max-width: none;
        padding: 8px 0;
        font-weight: 600;
      }
    }
  }
}
