.loading {
  @apply flex items-center justify-center;
  svg {
    @apply w-full h-full;
  }
  .ani-rotate {
    transform-origin: center;
  }
  &.loading-xs {
    width: 12px;
  }
  &.loading-sm {
    width: 16px;
  }
  &.loading-base {
    width: 20px;
  }
  &.loading-lg {
    width: 24px;
  }
}
