.btn {
  @apply flex items-center;
  @apply font-semibold leading-[1];
  @apply inline-block cursor-pointer;
  border-radius: 100px;
  > div {
    justify-content: center;
  }
  span,
  svg {
    @apply inline-flex;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }
  &.toggle-on {
    @apply border border-primary text-primary;
  }
  &.toggle-off {
    @apply border border-primary-light;
  }
  &.btn-icon-only {
    @apply justify-center text-center flex-none;
    span {
      @apply inline-block;
    }
    svg {
      @apply justify-self-center;
    }
  }
}

button,
a {
  &.btn-active {
    @apply border border-transparent bg-primary text-inverted;
    &:not(.shadow-base):not(:disabled) {
      @apply hover:opacity-70;
    }
    &:disabled {
      @apply text-primary-lighter bg-[#f9f9f9] dark:bg-paper-lighter;
      @apply dark:bg-gray-light;
    }
    &.shadow-base {
      @apply dark:bg-gray-dark dark:text-primary;
    }
  }
  &.btn-default {
    @apply border border-gray-light text-primary bg-paper hover:bg-paper-lighter;
    @apply dark:border-transparent dark:bg-gray-light dark:hover:bg-gray;
    &:disabled {
      @apply border-gray-lighter text-gray-light;
      @apply dark:bg-gray-light dark:border-transparent dark:text-primary/20;
    }
  }
  &.btn-light {
    @apply border border-gray-lighter text-primary bg-paper hover:bg-paper-lighter;
    @apply dark:border-transparent dark:bg-gray-light dark:hover:bg-gray;
    &:disabled {
      @apply border-gray-lighter text-gray-light;
      @apply dark:bg-gray-light dark:border-transparent dark:text-primary/20;
    }
  }
  &.btn-unstyled {
    @apply bg-transparent;
  }
  &.btn-underlined {
    @apply bg-transparent !px-0 !h-auto;
    span {
      @apply underline;
    }
    &:disabled {
      @apply opacity-20;
    }
  }
  &.btn-circle {
    @apply border !rounded-full overflow-hidden p-0;
    @apply border-gray-lighter bg-paper hover:bg-paper-lighter text-primary;
  }
  &.btn-square {
    @apply border-l rounded-none;
    &.btn-base {
      @apply h-10 w-10;
    }
  }
  &.btn-wallet {
    @apply !h-[42px] p-[2px] flex items-center border !border-transparent rounded-full;
    @apply bg-primary border-gray-lighter text-inverted;
    @apply dark:bg-gray-lighter dark:text-primary;
    .avatar {
      @apply !w-[36px] !h-[36px];
    }
  }
  &.btn-xs {
    @apply min-w-[20px] h-5 px-2 py-0 text-xs;
    > div {
      gap: 4px;
    }
    svg {
      width: 12px;
    }
    &.btn-icon-only {
      @apply min-h-[20px] p-0 items-center justify-center;
    }
  }
  &.btn-sm {
    @apply min-w-[24px] h-6 px-3 py-0 text-sm;
    > div {
      gap: 4px;
    }
    svg {
      width: 14px;
    }
    &.btn-icon-only {
      @apply min-h-[24px] p-0 items-center justify-center;
    }
  }
  &.btn-base {
    @apply min-w-[30px] h-[30px] px-3 py-0 text-base;
    > div {
      gap: 4px;
    }
    svg {
      width: 16px;
    }
    &.btn-icon-only {
      @apply min-h-[30px] p-0 items-center justify-center;
    }
    &.btn-circle {
      @apply p-2;
    }
  }
  &.btn-lg {
    @apply min-w-[36px] h-9 px-4 py-0 text-lg;
    > div {
      gap: 8px;
    }
    svg {
      width: 18px;
    }
    &.btn-icon-only {
      @apply min-h-[36px] p-0 items-center justify-center;
    }
  }
  &.btn-xl {
    @apply min-w-[42px] h-[42px] px-4 py-0 text-xl;
    > div {
      gap: 12px;
    }
    svg {
      width: 20px;
    }
    &.btn-icon-only {
      @apply min-h-[42px] p-0 items-center justify-center;
    }
  }
  &.btn-2xl {
    @apply min-w-[48px] h-12 px-4 py-0 text-2xl;
    > div {
      gap: 12px;
    }
    svg {
      width: 24px;
    }
    &.btn-icon-only {
      @apply min-h-[48px] p-0 items-center justify-center;
    }
  }
}
