.btn {
  @apply flex items-center;
  @apply font-semibold leading-[1];
  @apply inline-block cursor-pointer;
  border-radius: 100px;
  > div {
    justify-content: center;
  }
  span,
  svg {
    @apply inline-flex;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }
  &.toggle-on {
    @apply border border-black1 text-black1;
    @apply dark:border-white dark:text-white1;
  }
  &.toggle-off {
    @apply border border-black2 dark:border-white2;
  }
  &.btn-icon-only {
    @apply justify-center text-center flex-none;
    span {
      @apply inline-block;
    }
    svg {
      @apply justify-self-center;
    }
  }
}
.btn-active {
  @apply border bg-black1 text-white1 border-black1;
  @apply dark:bg-white dark:text-black1 dark:border-white;
  &:not(.shadow-base) {
    @apply hover:opacity-70;
  }
  &:disabled {
    @apply text-black3 bg-lightBg1 border-lightBg1;
    @apply dark:text-white3 dark:bg-darkBg1 dark:border-darkBg1;
  }
}
.btn-gray {
  @apply border border-light2 text-black1 bg-white hover:bg-light1/50;
  @apply dark:border-dark2 dark:text-white1 dark:bg-black1 dark:hover:bg-dark1/50;
  &:disabled {
    @apply border-light2/40 text-light2;
    @apply dark:border-dark2/40 dark:text-dark2;
  }
}
.btn-default {
  @apply border border-light1 text-black2 bg-white hover:bg-light1/50;
  @apply dark:border-dark1 dark:text-white1/80 dark:bg-darkBg1 dark:hover:bg-dark1/50;
  &:disabled {
    @apply text-light2 dark:text-dark2;
  }
}
.btn-unstyled {
  @apply bg-transparent;
}
.btn-circle {
  @apply border !rounded-full;
  @apply border-light1 bg-white hover:bg-light1/30 text-black1;
  @apply dark:border-dark1 dark:bg-black1 hover:bg-dark1/30 dark:text-white1;
}
.btn-wallet {
  @apply p-[2px] flex items-center border rounded-full;
  @apply bg-black1 border-light1 text-white1;
  /* @apply dark:bg-white dark:border-dark1 dark:text-black1; */
  .avatar {
    @apply !w-[36px] !h-[36px];
  }
}
.btn-xs {
  @apply min-w-[20px] h-5 px-2 py-0 text-xs;
  > div {
    gap: 4px;
  }
  svg {
    width: 12px;
  }
  &.btn-icon-only {
    @apply min-h-[20px] p-0 items-center justify-center;
  }
}
.btn-sm {
  @apply min-w-[24px] h-6 px-3 py-0 text-sm;
  > div {
    gap: 4px;
  }
  svg {
    width: 14px;
  }
  &.btn-icon-only {
    @apply min-h-[24px] p-0 items-center justify-center;
  }
}
.btn-base {
  @apply min-w-[30px] h-[30px] px-3 py-0 text-base;
  > div {
    gap: 4px;
  }
  svg {
    width: 16px;
  }
  &.btn-icon-only {
    @apply min-h-[30px] p-0 items-center justify-center;
  }
  &.btn-circle {
    @apply p-2;
  }
}
.btn-lg {
  @apply min-w-[36px] h-9 px-4 py-0 text-lg;
  > div {
    gap: 8px;
  }
  svg {
    width: 18px;
  }
  &.btn-icon-only {
    @apply min-h-[36px] p-0 items-center justify-center;
  }
}
.btn-xl {
  @apply min-w-[42px] h-[42px] px-4 py-0 text-xl;
  > div {
    gap: 12px;
  }
  svg {
    width: 20px;
  }
  &.btn-icon-only {
    @apply min-h-[42px] p-0 items-center justify-center;
  }
}
.btn-2xl {
  @apply min-w-[48px] h-12 px-4 py-0 text-2xl;
  > div {
    gap: 12px;
  }
  svg {
    width: 24px;
  }
  &.btn-icon-only {
    @apply min-h-[48px] p-0 items-center justify-center;
  }
}
