.checkbox {
  @apply flex items-center;
  .checkbox-input[type="checkbox"] {
    @apply hidden;
    + .checkbox-label::before {
      @apply flex-none inline-block bg-white border border-black/30 rounded;
      content: "";
    }
    &:checked + .checkbox-label::before {
      @apply flex-none inline-block border-black rounded bg-no-repeat bg-center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8' fill='none' viewBox='0 0 9 8'%3E%3Cpath stroke='%23030303' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 4.429 3.625 7 8 1'/%3E%3C/svg%3E");
      /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' fill='none' viewBox='0 0 8 7'%3E%3Cpath stroke='%23030303' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1 4 2.25 2.25L7 1'/%3E%3C/svg%3E"); */
      background-size: 60% auto;
    }
  }
  .checkbox-label {
    @apply cursor-pointer flex items-center gap-2;
  }
}
.checkbox-sm {
  .checkbox-input[type="checkbox"] {
    + .checkbox-label::before {
      @apply w-4 h-4;
    }
  }
}
.checkbox-base {
  .checkbox-input[type="checkbox"] {
    + .checkbox-label::before {
      @apply w-5 h-5;
    }
  }
}
.checkbox-lg {
  .checkbox-input[type="checkbox"] {
    + .checkbox-label::before {
      @apply w-8 h-8;
    }
  }
}
