@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap');
@import url('react-loading-skeleton/dist/skeleton.css');
@import-normalize;

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  @apply border-grayL1 dark:border-grayD1;
}

body {
  @apply font-mono text-base tracking-tight min-w-[1080px];
  @apply text-black1 dark:text-white1;
  word-spacing: -0.1em;
}

.sb-show-main,
.docs-story {
  @apply text-black1 bg-white;
}
.sb-show-main:has(#storybook-root.dark),
.docs-story:has(.sb-story.dark) {
  @apply text-white1 bg-black;
}

h4 {
  @apply text-lg;
  font-weight: 500;
}

*:focus {
  outline: none;
}

input {
  width: 100%;
  border-sizing: border-box;
}

/* hide input number inner buttons */
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* z-index */
.tooltip .tooltip-tip {
  @apply z-50;
}
.modal {
  @apply z-40;
}
.select ul[role='listbox'],
.dropdown [role='menu'] {
  @apply z-20;
}
.popover-panel {
  @apply z-20;
}
.backdrop {
  @apply z-10;
  @apply fixed inset-0 bg-white1/90 dark:bg-black1/90;
}
